/Cap_All_CO2_CA.csv
/Cap_All_CO2_CO.csv
/Cap_All_CO2_CT.csv
/Cap_All_CO2_DE.csv
/Cap_All_CO2_LA.csv
/Cap_All_CO2_MA.csv
/Cap_All_CO2_MD.csv
/Cap_All_CO2_ME.csv
/Cap_All_CO2_MI.csv
/Cap_All_CO2_MN.csv
/Cap_All_CO2_MT.csv
/Cap_All_CO2_NC.csv
/Cap_All_CO2_NH.csv
/Cap_All_CO2_NJ.csv
/Cap_All_CO2_NM.csv
/Cap_All_CO2_NY.csv
/Cap_All_CO2_OR.csv
/Cap_All_CO2_PA.csv
/Cap_All_CO2_RI.csv
/Cap_All_CO2_VA.csv
/Cap_All_CO2_VT.csv
/Cap_All_CO2_WA.csv
